</div>
    <footer class="footer">
        <div class="footer-inner">
            <div class="footer01 clearfix">
                <dl>
                    <dt>市场合作</dt>
                    <dd>021-50122341</dd>
                    <dd>shichang@ehousechina.com</dd>
                </dl>
                <dl>
                    <dt>投资合作</dt>
                    <dd>021-50122341</dd>
                    <dd>shichang@ehousechina.com</dd>
                </dl>
                <dl>
                    <dt>商务合作</dt>
                    <dd>021-50122341</dd>
                    <dd>shichang@ehousechina.com</dd>
                </dl>
                <p>上海市静安区广中路788号引力楼10楼，200072</p>
            </div>
            <div class="footer02">
                <h2>扫码关注</h2>
                <img src="http://placehold.it/77x77" alt="">
            </div>
        </div>
    </footer>
    </body>