<footer class="footer">
    <div class="footer-inner">
        <div class="footer01 clearfix">
            <dl>
                <dt>市场合作</dt>
                <dd><svg class="icon icon-phone1" aria-hidden="true"><use xlink:href="#icon-phone1"></use></svg>021-6086 7524</dd>
                <dd><svg class="icon icon-mail" aria-hidden="true"><use xlink:href="#icon-mail"></use></svg>market@ehousechina.com</dd>
            </dl>
            <dl>
                <dt>投资合作</dt>
                <dd><svg class="icon icon-phone1" aria-hidden="true"><use xlink:href="#icon-phone1"></use></svg>021-6129 6457</dd>
                <dd><svg class="icon icon-mail" aria-hidden="true"><use xlink:href="#icon-mail"></use></svg>investment@ehousechina.com</dd>
            </dl>
            <dl>
                <dt>商务合作</dt>
                <dd><svg class="icon icon-phone1" aria-hidden="true"><use xlink:href="#icon-phone1"></use></svg>021-6086 8394</dd>
                <dd><svg class="icon icon-mail" aria-hidden="true"><use xlink:href="#icon-mail"></use></svg>business@ehousechina.com</dd>
            </dl>
            <dl>
                <dt>友情链接</dt>
                <dd class="footer01-link">
                    <a href="http://www.ehousechina.com/cn/">易居中国</a>
                    <a href="http://sh.leju.com/">新浪乐居</a>
                    <a href="http://yx.ehousechina.com/">易居营销</a>
                    <a href="http://www.jpinvestment.cn/">钜派投资集团</a>
                    <a href="http://www.baokuchina.com/">宝库中国</a>
                    <a href="http://www.eju-ted.com/">太德励拓</a>
                    <a href="http://www.fangyou.net/">房友</a>
                    <a href="http://51shizhong.com/">时钟教室</a>
                    <a href="http://www.51kupai.com/">库拍</a>
                    <a href="http://www.wishbuild.com/">筑想网</a>
                    <a href="http://www.cricchina.com/">克而瑞</a>
                    <a href="http://www.17shihui.cn/">实惠</a>
                    <a href="http://sh.7gz.com/">抢工长</a>
                </dd>
            </dl>
            <p><svg class="icon icon-place" aria-hidden="true"><use xlink:href="#icon-place"></use></svg>中国上海市静安区广中路788号上海大学延长校区引力楼9-10楼</p>
        </div>
        <div class="footer02">
            <h2>创研官方公众号</h2>
            <img src="${domain}/static/images/859916047704149674.png" alt="">
        </div>
    </div>
    <p class="footer-copyright">易居创新研发中心  版权所有  CopyRight©2016-2017 EJU. All Rights Reserved</p>
</footer>
<script src="${domain}/static/js/iconfont.js"></script>
</body>
</html>