<div class="navbar">
    <div class="navbar-inner">
        <div class="logo"><span></span>创新研发中心</div>
        <ul class="navbar-list clearfix">
            <li><a href="">首页</a></li>
            <li><a href="">创硏动态</a></li>
            <li>
                <a href="">创硏服务<span class="i-border-arrow"></span></a>
                <div class="navbar-menu">
                    <div class="navbar-menu-inner">
                        <ul class="navbar-menu01">
                            <li><a href="">全部领域</a></li>
                            <li><a href="">金融领域 &gt;</a></li>
                            <li><a href="">文化领域 &gt;</a></li>
                            <li><a href="">社区领域 &gt;</a></li>
                        </ul>
                        <dl class="navbar-menu02">
                            <dt><a href="">金融领域</a></dt>
                            <dd><a href="">壹加壹云</a></dd>
                            <dd><a href="">钜派在线</a></dd>
                        </dl>
                        <div class="navbar-menu03">
                            <div class="navbar-menu03-title">
                                <h2>壹加壹云</h2>
                                <div class="navbar-menu03-title02">
                                    <i class="icon">icon</i>
                                </div>
                            </div>
                            <div class="navbar-menu03-img">
                                <img src="" alt="">
                            </div>
                            <p>库拍是一个全球首创的分享式拍卖平台，分别从“主题”、“库拍”、“众筹”、“展览”四个维度给用户带来不一样的艺术体验。</p>
                            <div class="navbar-menu03-btn">
                                <a href="" class="btn">进入官网</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="">招募精英<span class="i-border-arrow"></span></a></li>
            <li><a href="">关于我们<span class="i-border-arrow"></span></a></li>
        </ul>
    </div>
</div>