<div class="navbar" id="navbar">
    <div class="navbar-inner">
        <a class="logo" href=""><span></span>创新研发中心</a>
        <ul class="navbar-list clearfix" id="navbarList">
            <li><a href="">首页</a></li>
            <li class="current">
                <a href="">创硏服务<span class="i-border-arrow"></span></a>
                <div class="navbar-menu">
                    <div class="navbar-menu-inner" id="menu">
                        <ul class="navbar-menu01">
                            <li class="current"><a href="javascript:;">产品 &gt;</a></li>
                            <li><a href="javascript:;">技术 &gt;</a></li>
                        </ul>
                        <div class="navbar-menu02">
                            <ul style="display: block;">
                                <li class="current">
                                    <a href="javascript:;">金融领域1-1 &gt;</a>
                                    <ul style="display: block;" class="navbar-menu03">
                                        <li class="navbar-menu03-inner">
                                            <h2 class="ellipsis">壹加壹云支付1-1-1</h2>
                                            <p class="ellipsis">库拍是一个全球首创的分享式拍卖平台</p>
                                        </li>
                                        <li class="navbar-menu03-inner ellipsis">
                                            <h2 class="ellipsis">钜派金融</h2>
                                            <p class="ellipsis">由新浪、易居中国、众安保险、新浪支付</p>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;">文化领域1-2 &gt;</a>
                                </li>
                                <li><a href="javascript:;">社区领域1-3 &gt;</a></li>
                                <li><a href="javascript:;">全部领域1-4</a></li>
                            </ul>
                            <ul>
                                <li class="current">
                                    <a href="javascript:;">金融领域2-1 &gt;</a>
                                    <ul class="navbar-menu03">
                                        <li class="navbar-menu03-inner">
                                            <h2 class="ellipsis">壹加壹云支付2-1-1</h2>
                                            <p class="ellipsis">库拍是一个全球首创的分享式拍卖平台</p>
                                        </li>
                                        <li class="navbar-menu03-inner ellipsis">
                                            <h2 class="ellipsis">钜派金融</h2>
                                            <p class="ellipsis">由新浪、易居中国、众安保险、新浪支付</p>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="javascript:;">文化领域2-2 &gt;</a></li>
                                <li><a href="javascript:;">社区领域2-3 &gt;</a></li>
                                <li><a href="javascript:;">全部领域2-4</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="">招募精英<span class="i-border-arrow"></span></a></li>
            <li><a href="">创硏动态</a></li>
            <li><a href="">关于我们<span class="i-border-arrow"></span></a></li>
        </ul>
    </div>
</div>