<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangchao.server.mapper.MessageMapper">

    <resultMap id="BaseResultMap"  type="com.tangchao.server.model.Message">
        <result column="id" property="id" jdbcType="NUMERIC"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="sender" property="sender" jdbcType="VARCHAR"/>
        <result column="receiver" property="receiver" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="active" property="active" jdbcType="NUMERIC"/>
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List_Without_Id">
        title,content,type,sender,receiver,status,active,create_user_id,create_time,update_user_id,update_time,remark
    </sql>
    <sql id="Base_Column_List">
         id,
        <include refid="Base_Column_List_Without_Id"/>
    </sql>

    <sql id="Insert_Columns">
        <if test="title!=null"> title,</if>
        <if test="content!=null"> content,</if>
        <if test="type!=null"> type,</if>
        <if test="sender!=null"> sender,</if>
        <if test="receiver!=null"> receiver,</if>
        <if test="status!=null"> status,</if>
        <if test="active!=null"> active,</if>
        <if test="createUserId!=null"> create_user_id,</if>
        <if test="createTime!=null"> create_time,</if>
        <if test="updateUserId!=null"> update_user_id,</if>
        <if test="updateTime!=null"> update_time,</if>
        <if test="remark!=null"> remark,</if>
    </sql>
    <sql id="Insert_Values">
        <if test="title!=null">#{title,jdbcType=VARCHAR},</if>
        <if test="content!=null">#{content,jdbcType=VARCHAR},</if>
        <if test="type!=null">#{type,jdbcType=VARCHAR},</if>
        <if test="sender!=null">#{sender,jdbcType=VARCHAR},</if>
        <if test="receiver!=null">#{receiver,jdbcType=VARCHAR},</if>
        <if test="status!=null">#{status,jdbcType=VARCHAR},</if>
        <if test="active!=null">#{active,jdbcType=NUMERIC},</if>
        <if test="createUserId!=null">#{createUserId,jdbcType=VARCHAR},</if>
        <if test="createTime!=null">#{createTime,jdbcType=TIMESTAMP},</if>
        <if test="updateUserId!=null">#{updateUserId,jdbcType=VARCHAR},</if>
        <if test="updateTime!=null">#{updateTime,jdbcType=TIMESTAMP},</if>
        <if test="remark!=null">#{remark,jdbcType=VARCHAR},</if>
    </sql>
    <sql id="Batch_Insert_Values">
        #{item.title,jdbcType=VARCHAR},
        #{item.content,jdbcType=VARCHAR},
        #{item.type,jdbcType=VARCHAR},
        #{item.sender,jdbcType=VARCHAR},
        #{item.receiver,jdbcType=VARCHAR},
        #{item.status,jdbcType=VARCHAR},
        #{item.active,jdbcType=NUMERIC},
        #{item.createUserId,jdbcType=VARCHAR},
        #{item.createTime,jdbcType=TIMESTAMP},
        #{item.updateUserId,jdbcType=VARCHAR},
        #{item.updateTime,jdbcType=TIMESTAMP},
        #{item.remark,jdbcType=VARCHAR},
    </sql>

    <sql id="Update_Set_From_Bean">
        <if test="title!=null"> title=#{title,jdbcType=VARCHAR},</if>
        <if test="content!=null"> content=#{content,jdbcType=VARCHAR},</if>
        <if test="type!=null"> type=#{type,jdbcType=VARCHAR},</if>
        <if test="sender!=null"> sender=#{sender,jdbcType=VARCHAR},</if>
        <if test="receiver!=null"> receiver=#{receiver,jdbcType=VARCHAR},</if>
        <if test="status!=null"> status=#{status,jdbcType=VARCHAR},</if>
        <if test="active!=null"> active=#{active,jdbcType=NUMERIC},</if>
        <if test="createUserId!=null"> create_user_id=#{createUserId,jdbcType=VARCHAR},</if>
        <if test="createTime!=null"> create_time=#{createTime,jdbcType=TIMESTAMP},</if>
        <if test="updateUserId!=null"> update_user_id=#{updateUserId,jdbcType=VARCHAR},</if>
        <if test="updateTime!=null"> update_time=#{updateTime,jdbcType=TIMESTAMP},</if>
        <if test="remark!=null"> remark=#{remark,jdbcType=VARCHAR},</if>
    </sql>
    <sql id="BatchUpdate_Set_From_Bean">
        title=#{item.title,jdbcType=VARCHAR},
        content=#{item.content,jdbcType=VARCHAR},
        type=#{item.type,jdbcType=VARCHAR},
        sender=#{item.sender,jdbcType=VARCHAR},
        receiver=#{item.receiver,jdbcType=VARCHAR},
        status=#{item.status,jdbcType=VARCHAR},
        active=#{item.active,jdbcType=NUMERIC},
        create_user_id=#{item.createUserId,jdbcType=VARCHAR},
        create_time=#{item.createTime,jdbcType=TIMESTAMP},
        update_user_id=#{item.updateUserId,jdbcType=VARCHAR},
        update_time=#{item.updateTime,jdbcType=TIMESTAMP},
        remark=#{item.remark,jdbcType=VARCHAR},
    </sql>

    <!--insert-->
    <insert id="insert" parameterType="com.tangchao.server.model.Message" useGeneratedKeys="true" keyProperty="id">
        insert into message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Insert_Columns"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="Insert_Values"/>
        </trim>
    </insert>
    <insert id="batchInsert" parameterType="java.util.List">
        insert into message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="Base_Column_List_Without_Id"/>
        </trim>
        values
        <foreach collection="list" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <include refid="Batch_Insert_Values"/>
            </trim>
        </foreach>
    </insert>
    <!-- end insert -->

    <!-- delete -->
    <delete id="deleteById" parameterType="java.lang.Long">
        delete from message
        where  id = #{id,jdbcType=NUMERIC}  
    </delete>
    <delete id="deleteByCriterion" parameterType="com.xqsight.common.core.orm.Criterion">
        delete from message
        where 1=1
        ${whereSqlString}
    </delete>
    <!-- end delete -->

    <!-- update -->
    <update id="updateById" parameterType="com.tangchao.server.model.Message">
        update message
        <set>
            <include refid="Update_Set_From_Bean"/>
        </set>
        where  id = #{id,jdbcType=NUMERIC}  
    </update>
    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
        update message
        <include refid="BatchUpdate_Set_From_Bean"/>
        where
             id = #{id,jdbcType=NUMERIC}  
        </foreach>
    </update>
    <!-- end update -->

    <!-- select -->
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select <include refid="Base_Column_List"/> from message
        where
             id = #{id,jdbcType=NUMERIC}  
    </select>
    <select id="search" resultMap="BaseResultMap" parameterType="com.xqsight.common.core.orm.Criterion">
        select <include refid="Base_Column_List"/> from message
        WHERE 1=1

        ${whereSqlString}
        <trim prefix=" and " suffix="" suffixOverrides="" >
            <if test="customSql != null">
            ${customSqlString}
            </if>
        </trim>
        <if test="orderBy != null">
        ${orderBySqlString}
        </if>
    </select>
    <!-- end select -->
</mapper>
