<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="appName">${web:servletContextName}</Property>
        <Property name="fileName">/opt/logs/pmpf/${appName}-${hostName}.log</Property>
        <Property name="filePattern">/opt/logs/pmpf/${appName}-%d{yyyyMMdd}-${hostName}.log.gz</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <logger name="com.alibaba.druid" level="error" />
        <logger name="com.alibaba.dubbo" level="ERROR" />
        <logger name="org.springframework" level="ERROR" />
        <logger name="org.springframework.orm.jpa" level="ERROR" />
        <logger name="org.springframework.transaction" level="ERROR" />
        <Root level="debug">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>