<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xqsight.system.mapper.SysDepartmentMapper">

    <resultMap id="BaseResultMap"  type="com.xqsight.system.model.SysDepartment">
        <result column="department_id" property="departmentId" jdbcType="NUMERIC"/>
        <result column="parent_id" property="parentId" jdbcType="NUMERIC"/>
        <result column="parent_ids" property="parentIds" jdbcType="VARCHAR"/>
        <result column="department_name" property="departmentName" jdbcType="VARCHAR"/>
        <result column="department_type" property="departmentType" jdbcType="VARCHAR"/>
        <result column="active" property="active" jdbcType="NUMERIC"/>
        <result column="department_code" property="departmentCode" jdbcType="VARCHAR"/>
        <result column="custom_code" property="customCode" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="NUMERIC"/>
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
	 department_id,parent_id,parent_ids,department_name,department_type,active,department_code,custom_code,icon,sort,create_user_id,create_time,update_user_id,update_time,remark
    </sql>

    <insert id="insert" parameterType="com.xqsight.system.model.SysDepartment" useGeneratedKeys="true" keyProperty="departmentId">
        insert into sys_department (
	parent_id,parent_ids,department_name,department_type,active,department_code,custom_code,icon,sort,create_user_id,create_time,update_user_id,update_time,remark
        ) values (
	#{parentId,jdbcType=NUMERIC},
	#{parentIds,jdbcType=VARCHAR},
	#{departmentName,jdbcType=VARCHAR},
	#{departmentType,jdbcType=VARCHAR},
	#{active,jdbcType=NUMERIC},
	#{departmentCode,jdbcType=VARCHAR},
	#{customCode,jdbcType=VARCHAR},
	#{icon,jdbcType=VARCHAR},
	#{sort,jdbcType=NUMERIC},
	#{createUserId,jdbcType=VARCHAR},
	#{createTime,jdbcType=TIMESTAMP},
	#{updateUserId,jdbcType=VARCHAR},
	#{updateTime,jdbcType=TIMESTAMP},
	#{remark,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.xqsight.system.model.SysDepartment" useGeneratedKeys="true" keyProperty="departmentId">
        insert into sys_department
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="parentId!=null">
			parent_id,
            </if>
            <if test="parentIds!=null">
			parent_ids,
            </if>
            <if test="departmentName!=null">
			department_name,
            </if>
            <if test="departmentType!=null">
			department_type,
            </if>
            <if test="active!=null">
			active,
            </if>
            <if test="departmentCode!=null">
			department_code,
            </if>
            <if test="customCode!=null">
			custom_code,
            </if>
            <if test="icon!=null">
			icon,
            </if>
            <if test="sort!=null">
			sort,
            </if>
            <if test="createUserId!=null">
			create_user_id,
            </if>
            <if test="createTime!=null">
			create_time,
            </if>
            <if test="updateUserId!=null">
			update_user_id,
            </if>
            <if test="updateTime!=null">
			update_time,
            </if>
            <if test="remark!=null">
			remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="parentId!=null">
			#{parentId,jdbcType=NUMERIC},
            </if>
            <if test="parentIds!=null">
			#{parentIds,jdbcType=VARCHAR},
            </if>
            <if test="departmentName!=null">
			#{departmentName,jdbcType=VARCHAR},
            </if>
            <if test="departmentType!=null">
			#{departmentType,jdbcType=VARCHAR},
            </if>
            <if test="active!=null">
			#{active,jdbcType=NUMERIC},
            </if>
            <if test="departmentCode!=null">
			#{departmentCode,jdbcType=VARCHAR},
            </if>
            <if test="customCode!=null">
			#{customCode,jdbcType=VARCHAR},
            </if>
            <if test="icon!=null">
			#{icon,jdbcType=VARCHAR},
            </if>
            <if test="sort!=null">
			#{sort,jdbcType=NUMERIC},
            </if>
            <if test="createUserId!=null">
			#{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="createTime!=null">
			#{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId!=null">
			#{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime!=null">
			#{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark!=null">
			#{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.xqsight.system.model.SysDepartment">
        update from sys_department set
		parent_id = #{parentId,jdbcType=NUMERIC},
		parent_ids = #{parentIds,jdbcType=VARCHAR},
		department_name = #{departmentName,jdbcType=VARCHAR},
		department_type = #{departmentType,jdbcType=VARCHAR},
		active = #{active,jdbcType=NUMERIC},
		department_code = #{departmentCode,jdbcType=VARCHAR},
		custom_code = #{customCode,jdbcType=VARCHAR},
		icon = #{icon,jdbcType=VARCHAR},
		sort = #{sort,jdbcType=NUMERIC},
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		remark = #{remark,jdbcType=VARCHAR}
        where  department_id = #{departmentId,jdbcType=NUMERIC}  
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.xqsight.system.model.SysDepartment">
        update from sys_department
        <set>
                <if test="parentId!=null">
				parent_id = #{parentId,jdbcType=NUMERIC},
                </if>
                <if test="parentIds!=null">
				parent_ids = #{parentIds,jdbcType=VARCHAR},
                </if>
                <if test="departmentName!=null">
				department_name = #{departmentName,jdbcType=VARCHAR},
                </if>
                <if test="departmentType!=null">
				department_type = #{departmentType,jdbcType=VARCHAR},
                </if>
                <if test="active!=null">
				active = #{active,jdbcType=NUMERIC},
                </if>
                <if test="departmentCode!=null">
				department_code = #{departmentCode,jdbcType=VARCHAR},
                </if>
                <if test="customCode!=null">
				custom_code = #{customCode,jdbcType=VARCHAR},
                </if>
                <if test="icon!=null">
				icon = #{icon,jdbcType=VARCHAR},
                </if>
                <if test="sort!=null">
				sort = #{sort,jdbcType=NUMERIC},
                </if>
                <if test="updateUserId!=null">
				update_user_id = #{updateUserId,jdbcType=VARCHAR},
                </if>
                <if test="updateTime!=null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="remark!=null">
				remark = #{remark,jdbcType=VARCHAR},
                </if>
        </set>
        where  department_id = #{departmentId,jdbcType=NUMERIC}  
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete  sys_department
        where  department_id = #{departmentId,jdbcType=NUMERIC}  
    </delete>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select <include refid="Base_Column_List"/> from sys_department
        where  department_id = #{departmentId,jdbcType=NUMERIC}  
    </select>

    <select id="search" resultMap="BaseResultMap" parameterType="com.xqsight.common.core.orm.Criterion">
        select <include refid="Base_Column_List"/> from sys_department
        WHERE 1=1
	    ${whereSqlString}

        <trim prefix=" and " suffix="" suffixOverrides="" >
        <if test="customSql != null">
        ${customSqlString}
        </if>
        </trim>

        <if test="orderBy != null">
		${orderBySqlString}
        </if>
    </select>
</mapper>
