<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xqsight.system.mapper.SysDictMapper">

    <resultMap id="BaseResultMap"  type="com.xqsight.system.model.SysDict">
        <result column="dict_id" property="dictId" jdbcType="NUMERIC"/>
        <result column="parent_id" property="parentId" jdbcType="NUMERIC"/>
        <result column="parent_ids" property="parentIds" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="NUMERIC"/>
        <result column="dict_code" property="dictCode" jdbcType="VARCHAR"/>
        <result column="dict_name" property="dictName" jdbcType="VARCHAR"/>
        <result column="dict_value" property="dictValue" jdbcType="VARCHAR"/>
        <result column="editable" property="editable" jdbcType="NUMERIC"/>
        <result column="active" property="active" jdbcType="NUMERIC"/>
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
	 dict_id,parent_id,parent_ids,sort,dict_code,dict_name,dict_value,editable,active,create_user_id,create_time,update_user_id,update_time,remark
    </sql>

    <insert id="insert" parameterType="com.xqsight.system.model.SysDict" useGeneratedKeys="true" keyProperty="dictId">
        insert into sys_dict (
	parent_id,parent_ids,sort,dict_code,dict_name,dict_value,editable,active,create_user_id,create_time,update_user_id,update_time,remark
        ) values (
	#{parentId,jdbcType=NUMERIC},
	#{parentIds,jdbcType=VARCHAR},
	#{sort,jdbcType=NUMERIC},
	#{dictCode,jdbcType=VARCHAR},
	#{dictName,jdbcType=VARCHAR},
	#{dictValue,jdbcType=VARCHAR},
	#{editable,jdbcType=NUMERIC},
	#{active,jdbcType=NUMERIC},
	#{createUserId,jdbcType=VARCHAR},
	#{createTime,jdbcType=TIMESTAMP},
	#{updateUserId,jdbcType=VARCHAR},
	#{updateTime,jdbcType=TIMESTAMP},
	#{remark,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.xqsight.system.model.SysDict" useGeneratedKeys="true" keyProperty="dictId">
        insert into sys_dict
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="parentId!=null">
			parent_id,
            </if>
            <if test="parentIds!=null">
			parent_ids,
            </if>
            <if test="sort!=null">
			sort,
            </if>
            <if test="dictCode!=null">
			dict_code,
            </if>
            <if test="dictName!=null">
			dict_name,
            </if>
            <if test="dictValue!=null">
			dict_value,
            </if>
            <if test="editable!=null">
			editable,
            </if>
            <if test="active!=null">
			active,
            </if>
            <if test="createUserId!=null">
			create_user_id,
            </if>
            <if test="createTime!=null">
			create_time,
            </if>
            <if test="updateUserId!=null">
			update_user_id,
            </if>
            <if test="updateTime!=null">
			update_time,
            </if>
            <if test="remark!=null">
			remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="parentId!=null">
			#{parentId,jdbcType=NUMERIC},
            </if>
            <if test="parentIds!=null">
			#{parentIds,jdbcType=VARCHAR},
            </if>
            <if test="sort!=null">
			#{sort,jdbcType=NUMERIC},
            </if>
            <if test="dictCode!=null">
			#{dictCode,jdbcType=VARCHAR},
            </if>
            <if test="dictName!=null">
			#{dictName,jdbcType=VARCHAR},
            </if>
            <if test="dictValue!=null">
			#{dictValue,jdbcType=VARCHAR},
            </if>
            <if test="editable!=null">
			#{editable,jdbcType=NUMERIC},
            </if>
            <if test="active!=null">
			#{active,jdbcType=NUMERIC},
            </if>
            <if test="createUserId!=null">
			#{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="createTime!=null">
			#{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId!=null">
			#{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime!=null">
			#{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark!=null">
			#{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.xqsight.system.model.SysDict">
        update from sys_dict set
		parent_id = #{parentId,jdbcType=NUMERIC},
		parent_ids = #{parentIds,jdbcType=VARCHAR},
		sort = #{sort,jdbcType=NUMERIC},
		dict_code = #{dictCode,jdbcType=VARCHAR},
		dict_name = #{dictName,jdbcType=VARCHAR},
		dict_value = #{dictValue,jdbcType=VARCHAR},
		editable = #{editable,jdbcType=NUMERIC},
		active = #{active,jdbcType=NUMERIC},
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		remark = #{remark,jdbcType=VARCHAR}
        where  dict_id = #{dictId,jdbcType=NUMERIC}  
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.xqsight.system.model.SysDict">
        update from sys_dict
        <set>
                <if test="parentId!=null">
				parent_id = #{parentId,jdbcType=NUMERIC},
                </if>
                <if test="parentIds!=null">
				parent_ids = #{parentIds,jdbcType=VARCHAR},
                </if>
                <if test="sort!=null">
				sort = #{sort,jdbcType=NUMERIC},
                </if>
                <if test="dictCode!=null">
				dict_code = #{dictCode,jdbcType=VARCHAR},
                </if>
                <if test="dictName!=null">
				dict_name = #{dictName,jdbcType=VARCHAR},
                </if>
                <if test="dictValue!=null">
				dict_value = #{dictValue,jdbcType=VARCHAR},
                </if>
                <if test="editable!=null">
				editable = #{editable,jdbcType=NUMERIC},
                </if>
                <if test="active!=null">
				active = #{active,jdbcType=NUMERIC},
                </if>
                <if test="updateUserId!=null">
				update_user_id = #{updateUserId,jdbcType=VARCHAR},
                </if>
                <if test="updateTime!=null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="remark!=null">
				remark = #{remark,jdbcType=VARCHAR},
                </if>
        </set>
        where  dict_id = #{dictId,jdbcType=NUMERIC}  
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete  sys_dict
        where  dict_id = #{dictId,jdbcType=NUMERIC}  
    </delete>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select <include refid="Base_Column_List"/> from sys_dict
        where  dict_id = #{dictId,jdbcType=NUMERIC}  
    </select>

    <select id="search" resultMap="BaseResultMap" parameterType="com.xqsight.common.core.orm.Criterion">
        select <include refid="Base_Column_List"/> from sys_dict
        WHERE 1=1
	    ${whereSqlString}

        <trim prefix=" and " suffix="" suffixOverrides="" >
        <if test="customSql != null">
        ${customSqlString}
        </if>
        </trim>

        <if test="orderBy != null">
		${orderBySqlString}
        </if>
    </select>
</mapper>
