<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xqsight.system.mapper.SysFileMapper">

    <resultMap id="BaseResultMap"  type="com.xqsight.system.model.SysFile">
		<result column="file_id" property="fileId" jdbcType="NUMERIC"/>
		<result column="file_name" property="fileName" jdbcType="VARCHAR"/>
		<result column="file_url" property="fileUrl" jdbcType="VARCHAR"/>
		<result column="file_domain" property="fileDomain" jdbcType="VARCHAR"/>
		<result column="file_ext" property="fileExt" jdbcType="VARCHAR"/>
		<result column="file_size" property="fileSize" jdbcType="VARCHAR"/>
		<result column="attachment_type" property="attachmentType" jdbcType="VARCHAR"/>
		<result column="file_kind" property="fileKind" jdbcType="VARCHAR"/>
		<result column="active" property="active" jdbcType="NUMERIC"/>
		<result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="update_user_id" property="updateUserId" jdbcType="VARCHAR"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
		 file_id,file_name,file_url,file_domain,file_ext,file_size,attachment_type,file_kind,active,create_user_id,create_time,update_user_id,update_time,remark
    </sql>

    <insert id="insert" parameterType="com.xqsight.system.model.SysFile"  useGeneratedKeys="true" keyProperty="fileId">
        insert into sys_file (
		file_name,file_url,file_domain,file_ext,file_size,attachment_type,file_kind,active,create_user_id,create_time,update_user_id,update_time,remark
		) values (
		#{fileName,jdbcType=VARCHAR},
		#{fileUrl,jdbcType=VARCHAR},
		#{fileDomain,jdbcType=VARCHAR},
		#{fileExt,jdbcType=VARCHAR},
		#{fileSize,jdbcType=VARCHAR},
		#{attachmentType,jdbcType=VARCHAR},
		#{fileKind,jdbcType=VARCHAR},
		#{active,jdbcType=NUMERIC},
		#{createUserId,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{updateUserId,jdbcType=VARCHAR},
		#{updateTime,jdbcType=TIMESTAMP},
		#{remark,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.xqsight.system.model.SysFile">
        insert into sys_file (
        <if test="fileName!=null">
		file_name,
		</if>
        <if test="fileUrl!=null">
		file_url,
		</if>
        <if test="fileDomain!=null">
		file_domain,
		</if>
        <if test="fileExt!=null">
		file_ext,
		</if>
        <if test="fileSize!=null">
		file_size,
		</if>
        <if test="attachmentType!=null">
		attachment_type,
		</if>
        <if test="fileKind!=null">
		file_kind,
		</if>
        <if test="active!=null">
		active,
		</if>
        <if test="createUserId!=null">
		create_user_id,
		</if>
        <if test="createTime!=null">
		create_time,
		</if>
        <if test="updateUserId!=null">
		update_user_id,
		</if>
        <if test="updateTime!=null">
		update_time,
		</if>
        <if test="remark!=null">
		remark
		</if>
		)
		values (
        <if test="fileName!=null">
		#{fileName,jdbcType=VARCHAR},
		</if>
        <if test="fileUrl!=null">
		#{fileUrl,jdbcType=VARCHAR},
		</if>
        <if test="fileDomain!=null">
		#{fileDomain,jdbcType=VARCHAR},
		</if>
        <if test="fileExt!=null">
		#{fileExt,jdbcType=VARCHAR},
		</if>
        <if test="fileSize!=null">
		#{fileSize,jdbcType=VARCHAR},
		</if>
        <if test="attachmentType!=null">
		#{attachmentType,jdbcType=VARCHAR},
		</if>
        <if test="fileKind!=null">
		#{fileKind,jdbcType=VARCHAR},
		</if>
        <if test="active!=null">
		#{active,jdbcType=NUMERIC},
		</if>
        <if test="createUserId!=null">
		#{createUserId,jdbcType=VARCHAR},
		</if>
        <if test="createTime!=null">
		#{createTime,jdbcType=TIMESTAMP},
		</if>
        <if test="updateUserId!=null">
		#{updateUserId,jdbcType=VARCHAR},
		</if>
        <if test="updateTime!=null">
		#{updateTime,jdbcType=TIMESTAMP},
		</if>
        <if test="remark!=null">
		#{remark,jdbcType=VARCHAR}
		</if>
		)
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.xqsight.system.model.SysFile">
		update from sys_file set
		file_name = #{fileName,jdbcType=VARCHAR},
		file_url = #{fileUrl,jdbcType=VARCHAR},
		file_domain = #{fileDomain,jdbcType=VARCHAR},
		file_ext = #{fileExt,jdbcType=VARCHAR},
		file_size = #{fileSize,jdbcType=VARCHAR},
		attachment_type = #{attachmentType,jdbcType=VARCHAR},
		file_kind = #{fileKind,jdbcType=VARCHAR},
		active = #{active,jdbcType=NUMERIC},
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		remark = #{remark,jdbcType=VARCHAR}
        where  file_id = #{fileId,jdbcType=NUMERIC}  
    </update>

	<update id="updateByPrimaryKeySelective" parameterType="com.xqsight.system.model.SysFile">
        update from sys_file set
        <if test="fileName!=null">
		file_name = #{fileName,jdbcType=VARCHAR},
		</if>
        <if test="fileUrl!=null">
		file_url = #{fileUrl,jdbcType=VARCHAR},
		</if>
        <if test="fileDomain!=null">
		file_domain = #{fileDomain,jdbcType=VARCHAR},
		</if>
        <if test="fileExt!=null">
		file_ext = #{fileExt,jdbcType=VARCHAR},
		</if>
        <if test="fileSize!=null">
		file_size = #{fileSize,jdbcType=VARCHAR},
		</if>
        <if test="attachmentType!=null">
		attachment_type = #{attachmentType,jdbcType=VARCHAR},
		</if>
        <if test="fileKind!=null">
		file_kind = #{fileKind,jdbcType=VARCHAR},
		</if>
        <if test="active!=null">
		active = #{active,jdbcType=NUMERIC},
		</if>
        <if test="updateUserId!=null">
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		</if>
        <if test="updateTime!=null">
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		</if>
        <if test="remark!=null">
		remark = #{remark,jdbcType=VARCHAR}
		</if>
        where  file_id = #{fileId,jdbcType=NUMERIC}  
	</update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from  sys_file
        where  file_id = #{fileId,jdbcType=NUMERIC}  
    </delete>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select <include refid="Base_Column_List"/> from sys_file
        where  file_id = #{fileId,jdbcType=NUMERIC}  
    </select>

    <select id="search" resultMap="BaseResultMap" parameterType="com.xqsight.common.orm.Criterion">
        select <include refid="Base_Column_List"/> from sys_role
		WHERE 1=1
		${whereSqlString}
        <if test="orderBy != null">
			${orderBySqlString}
        </if>
    </select>
</mapper>
