<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xqsight.system.mapper.SysLoginMapper">

    <resultMap id="BaseResultMap"  type="com.xqsight.system.model.SysLogin">
        <result column="id" property="id" jdbcType="NUMERIC"/>
        <result column="parent_id" property="parentId" jdbcType="NUMERIC"/>
        <result column="login_id" property="loginId" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="login_type" property="loginType" jdbcType="NUMERIC"/>
        <result column="salt" property="salt" jdbcType="VARCHAR"/>
        <result column="locked" property="locked" jdbcType="NUMERIC"/>
        <result column="active" property="active" jdbcType="NUMERIC"/>
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
	 id,parent_id,login_id,password,user_name,login_type,salt,locked,active,create_user_id,create_time,update_user_id,update_time,remark
    </sql>

    <insert id="insert" parameterType="com.xqsight.system.model.SysLogin" useGeneratedKeys="true" keyProperty="id">
        insert into sys_login (
	parent_id,login_id,password,user_name,login_type,salt,locked,active,create_user_id,create_time,update_user_id,update_time,remark
        ) values (
	#{parentId,jdbcType=NUMERIC},
	#{loginId,jdbcType=VARCHAR},
	#{password,jdbcType=VARCHAR},
	#{userName,jdbcType=VARCHAR},
	#{loginType,jdbcType=NUMERIC},
	#{salt,jdbcType=VARCHAR},
	#{locked,jdbcType=NUMERIC},
	#{active,jdbcType=NUMERIC},
	#{createUserId,jdbcType=VARCHAR},
	#{createTime,jdbcType=TIMESTAMP},
	#{updateUserId,jdbcType=VARCHAR},
	#{updateTime,jdbcType=TIMESTAMP},
	#{remark,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.xqsight.system.model.SysLogin" useGeneratedKeys="true" keyProperty="id">
        insert into sys_login
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="parentId!=null">
			parent_id,
            </if>
            <if test="loginId!=null">
			login_id,
            </if>
            <if test="password!=null">
			password,
            </if>
            <if test="userName!=null">
			user_name,
            </if>
            <if test="loginType!=null">
			login_type,
            </if>
            <if test="salt!=null">
			salt,
            </if>
            <if test="locked!=null">
			locked,
            </if>
            <if test="active!=null">
			active,
            </if>
            <if test="createUserId!=null">
			create_user_id,
            </if>
            <if test="createTime!=null">
			create_time,
            </if>
            <if test="updateUserId!=null">
			update_user_id,
            </if>
            <if test="updateTime!=null">
			update_time,
            </if>
            <if test="remark!=null">
			remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="parentId!=null">
			#{parentId,jdbcType=NUMERIC},
            </if>
            <if test="loginId!=null">
			#{loginId,jdbcType=VARCHAR},
            </if>
            <if test="password!=null">
			#{password,jdbcType=VARCHAR},
            </if>
            <if test="userName!=null">
			#{userName,jdbcType=VARCHAR},
            </if>
            <if test="loginType!=null">
			#{loginType,jdbcType=NUMERIC},
            </if>
            <if test="salt!=null">
			#{salt,jdbcType=VARCHAR},
            </if>
            <if test="locked!=null">
			#{locked,jdbcType=NUMERIC},
            </if>
            <if test="active!=null">
			#{active,jdbcType=NUMERIC},
            </if>
            <if test="createUserId!=null">
			#{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="createTime!=null">
			#{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId!=null">
			#{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime!=null">
			#{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark!=null">
			#{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.xqsight.system.model.SysLogin">
        update from sys_login set
		parent_id = #{parentId,jdbcType=NUMERIC},
		login_id = #{loginId,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		user_name = #{userName,jdbcType=VARCHAR},
		login_type = #{loginType,jdbcType=NUMERIC},
		salt = #{salt,jdbcType=VARCHAR},
		locked = #{locked,jdbcType=NUMERIC},
		active = #{active,jdbcType=NUMERIC},
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		remark = #{remark,jdbcType=VARCHAR}
        where  id = #{id,jdbcType=NUMERIC}  
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.xqsight.system.model.SysLogin">
        update from sys_login
        <set>
            <if test="parentId!=null">
            parent_id = #{parentId,jdbcType=NUMERIC},
            </if>
            <if test="loginId!=null">
            login_id = #{loginId,jdbcType=VARCHAR},
            </if>
            <if test="password!=null">
            password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="userName!=null">
            user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="loginType!=null">
            login_type = #{loginType,jdbcType=NUMERIC},
            </if>
            <if test="salt!=null">
            salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="locked!=null">
            locked = #{locked,jdbcType=NUMERIC},
            </if>
            <if test="active!=null">
            active = #{active,jdbcType=NUMERIC},
            </if>
            <if test="updateUserId!=null">
            update_user_id = #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime!=null">
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark!=null">
            remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where  id = #{id,jdbcType=NUMERIC}  
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sys_login
        where  id = #{id,jdbcType=NUMERIC}  
    </delete>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select <include refid="Base_Column_List"/> from sys_login
        where  id = #{id,jdbcType=NUMERIC}  
    </select>

    <select id="search" resultMap="BaseResultMap" parameterType="com.xqsight.common.core.orm.Criterion">
        select <include refid="Base_Column_List"/> from sys_login
        WHERE 1=1
	    ${whereSqlString}

        <trim prefix=" and " suffix="" suffixOverrides="" >
        <if test="customSql != null">
        ${customSqlString}
        </if>
        </trim>

        <if test="orderBy != null">
		${orderBySqlString}
        </if>
    </select>
</mapper>
