/** tab close css **/
.portal-nav li>a{
    height: 40px !important;
    line-height: 20px !important;
}

.nav-tabs > li > a > .badge {
    padding: 1px 1px !important;
    line-height: 15px;
    opacity: 0.75;
}

/** datatables head css **/
.dataTables_wrapper .row:first-child {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-color: white !important;
}

.dataTable > thead > tr > th[class*=sorting_] {
    color: #707070 !important;
}

/**  **/
.list-group-item.active {
    z-index: 2;
    color: #616161 !important;
    background-color: #f5f7fa !important;
    border-color: #f5f7fa !important;
}

/** tab tool bar css **/
.dropdown-preview {
    margin: 0 5px;
    display: inline-block;
}
.dropdown-preview  > .dropdown-menu {
    display: block;
    position: static;
    margin-bottom: 5px;
}
.dropdown-menu > li > a{
    padding: 0px 20px !important;
}

.dropdown-menu > li.divider{
    margin: 1px !important;
}

/** upload file css **/
.div1{
    float: left;
    height: 35px;
    background: #E7E7E7;
    width: 144px;
    position: relative;
    margin-left: 10px;
}
.div2{
    text-align:center;
    padding-top:5px;
    font-size:15px;
    font-weight:800
}
.inputstyle{
    width: 144px;
    height: 41px;
    cursor: pointer;
    font-size: 30px;
    outline: medium none;
    position: absolute;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    opacity:0;
    left:0px;
    top: 0px;
}

/** form bottom css **/
.form-auto{
    margin-bottom: 63px;
}


/** filter query css  **/
.filter-item>ul{
    margin: 0px;
}

.filter-item>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.filter-item li a {
    color: #555555;
    text-decoration: none;
    padding: 2px 4px;
}

.filter-item li span {
    color: #555555;
}

.filter-item .active a, .filter-item li a:hover {
    background-color: #80909A;
    color: #fff;
    text-decoration: none;
    padding: 2px 4px;
}

/** IE tab��ʾ **/
#portal_tabs li{
    display: inline;
}
