<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xqsight.cms.mapper.CmsArticleMapper">

    <resultMap id="BaseResultMap"  type="com.tangchao.model.BestHouseVO">
        <result column="ID" property="id" jdbcType="NUMERIC"/>
        <result column="PROJECT_NAME" property="projectName" jdbcType="VARCHAR"/>
        <result column="PROJECT_ADDR" property="projectAddr" jdbcType="VARCHAR"/>
        <result column="ROOM_SPACE" property="roomSpace" jdbcType="NUMERIC"/>
        <result column="rental" property="rental" jdbcType="NUMERIC"/>
        <result column="ORIENTATION" property="orientation" jdbcType="VARCHAR"/>
        <result column="STRUCTURE" property="structure" jdbcType="VARCHAR"/>
        <result column="pay_way" property="payWay" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- select -->
    <select id="queryBestHouseById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
            tpp.PROJECT_NAME,tpp.PROJECT_ADDR,
            tr.ID,tr.ROOM_SPACE,tr.rental,tr.ORIENTATION,
            tr.STRUCTURE,tr.pay_way
        FROM t_room tr
        INNER JOIN t_house th ON tr.HOUSE_ID = th.ID AND th.DEL_FLAG=0
        INNER JOIN t_property_project tpp ON tr.PROPERTY_PROJECT_ID = tpp.ID AND tpp.DEL_FLAG=0

    </select>

    <select id="queryBestHouse" resultMap="BaseResultMap" parameterType="com.xqsight.common.core.orm.Criterion">
        SELECT
            tpp.PROJECT_NAME,tpp.PROJECT_ADDR,
            tr.ID,tr.ROOM_SPACE,tr.rental,tr.ORIENTATION,
            tr.STRUCTURE
        FROM t_room tr
        INNER JOIN t_house th ON tr.HOUSE_ID = th.ID AND th.DEL_FLAG=0
        INNER JOIN t_property_project tpp ON tr.PROPERTY_PROJECT_ID = tpp.ID AND tpp.DEL_FLAG=0
    </select>
    <!-- end select -->
</mapper>
