<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xqsight.system.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap"  type="com.xqsight.system.model.SysRole">
        <result column="role_id" property="roleId" jdbcType="NUMERIC"/>
        <result column="office_id" property="officeId" jdbcType="NUMERIC"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="role_enname" property="roleEnname" jdbcType="VARCHAR"/>
        <result column="role_type" property="roleType" jdbcType="VARCHAR"/>
        <result column="sys_flag" property="sysFlag" jdbcType="NUMERIC"/>
        <result column="active" property="active" jdbcType="NUMERIC"/>
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
	 role_id,office_id,role_name,role_enname,role_type,sys_flag,active,create_user_id,create_time,update_user_id,update_time,remark
    </sql>

    <insert id="insert" parameterType="com.xqsight.system.model.SysRole" useGeneratedKeys="true" keyProperty="roleId">
        insert into sys_role (
	office_id,role_name,role_enname,role_type,sys_flag,active,create_user_id,create_time,update_user_id,update_time,remark
        ) values (
	#{officeId,jdbcType=NUMERIC},
	#{roleName,jdbcType=VARCHAR},
	#{roleEnname,jdbcType=VARCHAR},
	#{roleType,jdbcType=VARCHAR},
	#{sysFlag,jdbcType=NUMERIC},
	#{active,jdbcType=NUMERIC},
	#{createUserId,jdbcType=VARCHAR},
	#{createTime,jdbcType=TIMESTAMP},
	#{updateUserId,jdbcType=VARCHAR},
	#{updateTime,jdbcType=TIMESTAMP},
	#{remark,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.xqsight.system.model.SysRole" useGeneratedKeys="true" keyProperty="roleId">
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="officeId!=null">
			office_id,
            </if>
            <if test="roleName!=null">
			role_name,
            </if>
            <if test="roleEnname!=null">
			role_enname,
            </if>
            <if test="roleType!=null">
			role_type,
            </if>
            <if test="sysFlag!=null">
			sys_flag,
            </if>
            <if test="active!=null">
			active,
            </if>
            <if test="createUserId!=null">
			create_user_id,
            </if>
            <if test="createTime!=null">
			create_time,
            </if>
            <if test="updateUserId!=null">
			update_user_id,
            </if>
            <if test="updateTime!=null">
			update_time,
            </if>
            <if test="remark!=null">
			remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="officeId!=null">
			#{officeId,jdbcType=NUMERIC},
            </if>
            <if test="roleName!=null">
			#{roleName,jdbcType=VARCHAR},
            </if>
            <if test="roleEnname!=null">
			#{roleEnname,jdbcType=VARCHAR},
            </if>
            <if test="roleType!=null">
			#{roleType,jdbcType=VARCHAR},
            </if>
            <if test="sysFlag!=null">
			#{sysFlag,jdbcType=NUMERIC},
            </if>
            <if test="active!=null">
			#{active,jdbcType=NUMERIC},
            </if>
            <if test="createUserId!=null">
			#{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="createTime!=null">
			#{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId!=null">
			#{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime!=null">
			#{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark!=null">
			#{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.xqsight.system.model.SysRole">
        update sys_role set
		office_id = #{officeId,jdbcType=NUMERIC},
		role_name = #{roleName,jdbcType=VARCHAR},
		role_enname = #{roleEnname,jdbcType=VARCHAR},
		role_type = #{roleType,jdbcType=VARCHAR},
		sys_flag = #{sysFlag,jdbcType=NUMERIC},
		active = #{active,jdbcType=NUMERIC},
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		remark = #{remark,jdbcType=VARCHAR}
        where  role_id = #{roleId,jdbcType=NUMERIC}  
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.xqsight.system.model.SysRole">
        update sys_role
        <set>
            <if test="officeId!=null">
            office_id = #{officeId,jdbcType=NUMERIC},
            </if>
            <if test="roleName!=null">
            role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="roleEnname!=null">
            role_enname = #{roleEnname,jdbcType=VARCHAR},
            </if>
            <if test="roleType!=null">
            role_type = #{roleType,jdbcType=VARCHAR},
            </if>
            <if test="sysFlag!=null">
            sys_flag = #{sysFlag,jdbcType=NUMERIC},
            </if>
            <if test="active!=null">
            active = #{active,jdbcType=NUMERIC},
            </if>
            <if test="updateUserId!=null">
            update_user_id = #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime!=null">
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark!=null">
            remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where  role_id = #{roleId,jdbcType=NUMERIC}  
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sys_role
        where  role_id = #{roleId,jdbcType=NUMERIC}  
    </delete>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select <include refid="Base_Column_List"/> from sys_role
        where  role_id = #{roleId,jdbcType=NUMERIC}  
    </select>

    <select id="search" resultMap="BaseResultMap" parameterType="com.xqsight.common.core.orm.Criterion">
        select <include refid="Base_Column_List"/> from sys_role
        WHERE 1=1
	    ${whereSqlString}

        <trim prefix=" and " suffix="" suffixOverrides="" >
        <if test="customSql != null">
        ${customSqlString}
        </if>
        </trim>

        <if test="orderBy != null">
		${orderBySqlString}
        </if>
    </select>
</mapper>
