<!-- head start -->
<#include "common/head.html"/>
<!-- head end -->

<link rel="stylesheet" type="text/css" href="${domain}/static/css/aboutus.css">
<title>关于我们</title>

<!--navbar start-->
<#include "common/navbar.html"/>
<!--navbar end -->

<!--page content start -->


<div class="page-aboutus">

    <!--第一部分-->
    <div class="aboutus-box">
        <div class="wrap aboutus-box01">
            <h2>我们是易居的技术动力与坚强后盾</h2>
            <ul>
                <li><img src="${domain}/static/images/about4.png" alt=""></li>
                <li><img src="${domain}/static/images/about5.png" alt=""></li>
                <li><img src="${domain}/static/images/about6.png" alt=""></li>
            </ul>
            <p>
                易居创新研发中心的服务涉及易居中国各个业务板块，为易居中国的创新思路与创新产品提供切实可行的服务与技术保障。在多年的探索沉淀后形成了一条“房地产+N+互联网”的道路。 易居的能量源既有人才的培养、行业的研究，也有技术产品的研发。作为易居创新研发中心而言，我们的目标与愿景不仅是为易居做互联网技术的服务与创新，更希望把我们的技术、产品模块化，沉淀化，让我的产品、技术走向市场，不仅成为易居的能量源，还会成为一个强大的载体为其他互联网公司提供技术服务。
            </p>
        </div>
    </div>

    <!--第二部分-->
    <div class="aboutus-box">
        <div class="wrap aboutus-box02">
            <h2>专注于互联网服务</h2>
            <ul>
                <li>围绕核心产业发展的焦点问题，通过对互联网技术的研究与产品的研发，<br/>积极推动集团业务在互联网领域健康、有序的发展 </li>
                <li>
                    <strong>对内</strong>服务于易居集团各业务板块“互联网+” 的发展战略
                </li>
                <li>
                    <strong>对外</strong>助力于互联网行业发展的创新技术+创新产品的核动力
                </li>
                <li>我们秉承开放、共享、互助的原则，在工作中坚持开放的信念，迎接不同的挑战。我们重视技术、知识的分享以及团队的合作。同时也在服务上与合作伙伴共同携手，互相进步</li>
            </ul>
        </div>
    </div>

    <!--第三部分-->
    <div class="aboutus-box">
        <div class="wrap aboutus-box03">
            <div class="aboutus-box03-inner">
                <h2>创研业务布局</h2>
                <h3>托管与指导服务</h3>
                <p>
                    支撑易居集团各业务趋向互联网化的发展，负责托管、承接、委托开发各项业务的产品需求，提供必要的技术支持与定制服务
                </p>
            </div>
        </div>
    </div>

    <!--合作伙伴部分-->
    <div class="aboutus-box">
        <div class="wrap aboutus-box04">
            <div class="partner">
                <h2>合作伙伴</h2>
                <ul class="clearfix">
                    <li><a href=""><img src="${domain}/static/images/p-yjwh.png" alt="易进文化"></a></li>
                    <li><a href=""><img src="${domain}/static/images/p-bk.png" alt="宝库"></a></li>
                    <li><a href="http://www.jpinvestment.cn/"><img src="${domain}/static/images/p-jp.png" alt="钜派投资集团"></a></li>
                    <li><a href=""><img src="${domain}/static/images/p-xlsc.png" alt="新浪收藏"></a></li>
                    <li><a href="http://www.eju-ted.com/"><img src="${domain}/static/images/p-tdlt.png" alt="太德励拓"></a></li>
                    <li><a href=""><img src="${domain}/static/images/p-yj.png" alt="易居"></a></li>
                    <li><a href=""><img src="${domain}/static/images/p-xllj.png" alt="新浪乐居"></a></li>
                    <li><a href="http://www.51kupai.com/"><img src="${domain}/static/images/p-kp.png" alt="库拍"></a></li>
                </ul>
            </div>

        </div>
    </div>

    <!--地图-->
    <div class="aboutus-box aboutus-box05">
        <img src="${domain}/static/images/about3.png" alt="">
    </div>
    <div>

<script>
    window.addEventListener('load', function(){
        document.getElementById("aboutus").className="current";
    })
</script>
<!--page content end -->

<!-- foot start -->
<#include "common/foot.html"/>
<!-- foot end -->