<#include "common/head.html"/>
<link rel="stylesheet" type="text/css" href="${domain}/static/css/index.css">
<#include "common/navbar.html"/>

<div class="page-index">
    <div class="slider" id="slider">
        <ul class="slider-list clearfix" style="left: 0;">
            <#list cmsAds as cmsAd>
                <li style="background-image: url(${cmsAd.adImage});">
                    <div class="slider-text">
                        <h2>${cmsAd.adName}</h2>
                        <p>${cmsAd.adText}</p>
                        <a href="${cmsAd.adUrl}" class="btn">查看详情</a>
                    </div>
                </li>
            </#list>
        </ul>

        <ol class="slider-num clearfix">
            <li class="current"></li>
            <li></li>
            <li></li>
        </ol>
    </div>
    <ul class="list01 clearfix">
        <#list articles as article>
            <li>
                <a href="${article.articleUrl}" class="list01-img" target="_blank"><img src="${article.articleImg}"
                                                                                        alt=""></a>
                <h2 class="ellipsis"><a href="${article.articleUrl}" target="_blank">${article.articleTitle}</a></h2>
                <p class="ellipsis"><a href="${article.articleUrl}" target="_blank">${article.articleDesp}</a></p>
                <div class="list01-tack">
                    <div class="list01-editer"><span class="text-light">${article.department}</span> | <span>${article.articleAuthor}</span>
                    </div>
                    <div class="list01-tack01">
                        <#if article.tags??>
                            <#list article.tags as tag>
                                <span class="i-tag">${tag}</span>
                            </#list>
                        </#if>
                    </div>
                </div>
            </li>
        </#list>
    </ul>
</div>
<#include "common/foot.html"/>