<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xqsight.system.mapper.SysLogMapper">

    <resultMap id="BaseResultMap"  type="com.xqsight.system.model.SysLog">
		<result column="log_id" property="logId" jdbcType="NUMERIC"/>
		<result column="log_type" property="logType" jdbcType="VARCHAR"/>
		<result column="log_title" property="logTitle" jdbcType="VARCHAR"/>
		<result column="log_desc" property="logDesc" jdbcType="VARCHAR"/>
		<result column="req_ip" property="reqIp" jdbcType="VARCHAR"/>
		<result column="req_url" property="reqUrl" jdbcType="VARCHAR"/>
		<result column="req_method" property="reqMethod" jdbcType="VARCHAR"/>
		<result column="req_data" property="reqData" jdbcType="VARCHAR"/>
		<result column="exception" property="exception" jdbcType="VARCHAR"/>
		<result column="agent_user" property="agentUser" jdbcType="VARCHAR"/>
		<result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
		 log_id,log_type,log_title,log_desc,req_ip,req_url,req_method,req_data,exception,agent_user,create_user_id,create_time,remark
    </sql>

    <insert id="insert" parameterType="com.xqsight.system.model.SysLog"  useGeneratedKeys="true" keyProperty="logId">
        insert into sys_log (
		log_type,log_title,log_desc,req_ip,req_url,req_method,req_data,exception,agent_user,create_user_id,create_time,remark
		) values (
		#{logType,jdbcType=VARCHAR},
		#{logTitle,jdbcType=VARCHAR},
		#{logDesc,jdbcType=VARCHAR},
		#{reqIp,jdbcType=VARCHAR},
		#{reqUrl,jdbcType=VARCHAR},
		#{reqMethod,jdbcType=VARCHAR},
		#{reqData,jdbcType=VARCHAR},
		#{exception,jdbcType=VARCHAR},
		#{agentUser,jdbcType=VARCHAR},
		#{createUserId,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{remark,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.xqsight.system.model.SysLog">
        insert into sys_log (
        <if test="logType!=null">
		log_type,
		</if>
        <if test="logTitle!=null">
		log_title,
		</if>
        <if test="logDesc!=null">
		log_desc,
		</if>
        <if test="reqIp!=null">
		req_ip,
		</if>
        <if test="reqUrl!=null">
		req_url,
		</if>
        <if test="reqMethod!=null">
		req_method,
		</if>
        <if test="reqData!=null">
		req_data,
		</if>
        <if test="exception!=null">
		exception,
		</if>
        <if test="agentUser!=null">
		agent_user,
		</if>
        <if test="createUserId!=null">
		create_user_id,
		</if>
        <if test="createTime!=null">
		create_time,
		</if>
        <if test="remark!=null">
		remark
		</if>
		)
		values (
        <if test="logType!=null">
		#{logType,jdbcType=VARCHAR},
		</if>
        <if test="logTitle!=null">
		#{logTitle,jdbcType=VARCHAR},
		</if>
        <if test="logDesc!=null">
		#{logDesc,jdbcType=VARCHAR},
		</if>
        <if test="reqIp!=null">
		#{reqIp,jdbcType=VARCHAR},
		</if>
        <if test="reqUrl!=null">
		#{reqUrl,jdbcType=VARCHAR},
		</if>
        <if test="reqMethod!=null">
		#{reqMethod,jdbcType=VARCHAR},
		</if>
        <if test="reqData!=null">
		#{reqData,jdbcType=VARCHAR},
		</if>
        <if test="exception!=null">
		#{exception,jdbcType=VARCHAR},
		</if>
        <if test="agentUser!=null">
		#{agentUser,jdbcType=VARCHAR},
		</if>
        <if test="createUserId!=null">
		#{createUserId,jdbcType=VARCHAR},
		</if>
        <if test="createTime!=null">
		#{createTime,jdbcType=TIMESTAMP},
		</if>
        <if test="remark!=null">
		#{remark,jdbcType=VARCHAR}
		</if>
		)
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.xqsight.system.model.SysLog">
		update from sys_log set
		log_type = #{logType,jdbcType=VARCHAR},
		log_title = #{logTitle,jdbcType=VARCHAR},
		log_desc = #{logDesc,jdbcType=VARCHAR},
		req_ip = #{reqIp,jdbcType=VARCHAR},
		req_url = #{reqUrl,jdbcType=VARCHAR},
		req_method = #{reqMethod,jdbcType=VARCHAR},
		req_data = #{reqData,jdbcType=VARCHAR},
		exception = #{exception,jdbcType=VARCHAR},
		agent_user = #{agentUser,jdbcType=VARCHAR},
		remark = #{remark,jdbcType=VARCHAR}
        where  log_id = #{logId,jdbcType=NUMERIC}  
    </update>

	<update id="updateByPrimaryKeySelective" parameterType="com.xqsight.system.model.SysLog">
        update from sys_log set
        <if test="logType!=null">
		log_type = #{logType,jdbcType=VARCHAR},
		</if>
        <if test="logTitle!=null">
		log_title = #{logTitle,jdbcType=VARCHAR},
		</if>
        <if test="logDesc!=null">
		log_desc = #{logDesc,jdbcType=VARCHAR},
		</if>
        <if test="reqIp!=null">
		req_ip = #{reqIp,jdbcType=VARCHAR},
		</if>
        <if test="reqUrl!=null">
		req_url = #{reqUrl,jdbcType=VARCHAR},
		</if>
        <if test="reqMethod!=null">
		req_method = #{reqMethod,jdbcType=VARCHAR},
		</if>
        <if test="reqData!=null">
		req_data = #{reqData,jdbcType=VARCHAR},
		</if>
        <if test="exception!=null">
		exception = #{exception,jdbcType=VARCHAR},
		</if>
        <if test="agentUser!=null">
		agent_user = #{agentUser,jdbcType=VARCHAR},
		</if>
        <if test="remark!=null">
		remark = #{remark,jdbcType=VARCHAR}
		</if>
        where  log_id = #{logId,jdbcType=NUMERIC}  
	</update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from  sys_log
        where  log_id = #{logId,jdbcType=NUMERIC}  
    </delete>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select <include refid="Base_Column_List"/> from sys_log
        where  log_id = #{logId,jdbcType=NUMERIC}  
    </select>

    <select id="search" resultMap="BaseResultMap" parameterType="com.xqsight.common.orm.Criterion">
        select <include refid="Base_Column_List"/> from sys_role
		WHERE 1=1
		${whereSqlString}
        <if test="orderBy != null">
			${orderBySqlString}
        </if>
    </select>
</mapper>
