<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xqsight.system.mapper.SysLoginMapper">

    <resultMap id="BaseResultMap"  type="com.xqsight.system.model.SysLogin">
		<result column="id" property="id" jdbcType="NUMERIC"/>
		<result column="org_id" property="orgId" jdbcType="NUMERIC"/>
		<result column="login_id" property="loginId" jdbcType="VARCHAR"/>
		<result column="user_name" property="userName" jdbcType="VARCHAR"/>
		<result column="real_name" property="realName" jdbcType="VARCHAR"/>
		<result column="password" property="password" jdbcType="VARCHAR"/>
		<result column="login_type" property="loginType" jdbcType="NUMERIC"/>
		<result column="sex" property="sex" jdbcType="NUMERIC"/>
		<result column="user_born" property="userBorn" jdbcType="TIMESTAMP"/>
		<result column="age" property="age" jdbcType="NUMERIC"/>
		<result column="from_source" property="fromSource" jdbcType="VARCHAR"/>
		<result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
		<result column="salt" property="salt" jdbcType="VARCHAR"/>
		<result column="locked" property="locked" jdbcType="NUMERIC"/>
		<result column="active" property="active" jdbcType="NUMERIC"/>
		<result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="update_user_id" property="updateUserId" jdbcType="VARCHAR"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
		 id,org_id,login_id,user_name,real_name,password,login_type,sex,user_born,age,from_source,img_url,salt,locked,active,create_user_id,create_time,update_user_id,update_time,remark
    </sql>

    <insert id="insert" parameterType="com.xqsight.system.model.SysLogin"  useGeneratedKeys="true" keyProperty="id">
        insert into sys_login (
		org_id,login_id,user_name,real_name,password,login_type,sex,user_born,age,from_source,img_url,salt,locked,active,create_user_id,create_time,update_user_id,update_time,remark
		) values (
		#{orgId,jdbcType=NUMERIC},
		#{loginId,jdbcType=VARCHAR},
		#{userName,jdbcType=VARCHAR},
		#{realName,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{loginType,jdbcType=NUMERIC},
		#{sex,jdbcType=NUMERIC},
		#{userBorn,jdbcType=TIMESTAMP},
		#{age,jdbcType=NUMERIC},
		#{fromSource,jdbcType=VARCHAR},
		#{imgUrl,jdbcType=VARCHAR},
		#{salt,jdbcType=VARCHAR},
		#{locked,jdbcType=NUMERIC},
		#{active,jdbcType=NUMERIC},
		#{createUserId,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{updateUserId,jdbcType=VARCHAR},
		#{updateTime,jdbcType=TIMESTAMP},
		#{remark,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.xqsight.system.model.SysLogin">
        insert into sys_login (
        <if test="orgId!=null">
		org_id,
		</if>
        <if test="loginId!=null">
		login_id,
		</if>
        <if test="userName!=null">
		user_name,
		</if>
        <if test="realName!=null">
		real_name,
		</if>
        <if test="password!=null">
		password,
		</if>
        <if test="loginType!=null">
		login_type,
		</if>
        <if test="sex!=null">
		sex,
		</if>
        <if test="userBorn!=null">
		user_born,
		</if>
        <if test="age!=null">
		age,
		</if>
        <if test="fromSource!=null">
		from_source,
		</if>
        <if test="imgUrl!=null">
		img_url,
		</if>
        <if test="salt!=null">
		salt,
		</if>
        <if test="locked!=null">
		locked,
		</if>
        <if test="active!=null">
		active,
		</if>
        <if test="createUserId!=null">
		create_user_id,
		</if>
        <if test="createTime!=null">
		create_time,
		</if>
        <if test="updateUserId!=null">
		update_user_id,
		</if>
        <if test="updateTime!=null">
		update_time,
		</if>
        <if test="remark!=null">
		remark
		</if>
		)
		values (
        <if test="orgId!=null">
		#{orgId,jdbcType=NUMERIC},
		</if>
        <if test="loginId!=null">
		#{loginId,jdbcType=VARCHAR},
		</if>
        <if test="userName!=null">
		#{userName,jdbcType=VARCHAR},
		</if>
        <if test="realName!=null">
		#{realName,jdbcType=VARCHAR},
		</if>
        <if test="password!=null">
		#{password,jdbcType=VARCHAR},
		</if>
        <if test="loginType!=null">
		#{loginType,jdbcType=NUMERIC},
		</if>
        <if test="sex!=null">
		#{sex,jdbcType=NUMERIC},
		</if>
        <if test="userBorn!=null">
		#{userBorn,jdbcType=TIMESTAMP},
		</if>
        <if test="age!=null">
		#{age,jdbcType=NUMERIC},
		</if>
        <if test="fromSource!=null">
		#{fromSource,jdbcType=VARCHAR},
		</if>
        <if test="imgUrl!=null">
		#{imgUrl,jdbcType=VARCHAR},
		</if>
        <if test="salt!=null">
		#{salt,jdbcType=VARCHAR},
		</if>
        <if test="locked!=null">
		#{locked,jdbcType=NUMERIC},
		</if>
        <if test="active!=null">
		#{active,jdbcType=NUMERIC},
		</if>
        <if test="createUserId!=null">
		#{createUserId,jdbcType=VARCHAR},
		</if>
        <if test="createTime!=null">
		#{createTime,jdbcType=TIMESTAMP},
		</if>
        <if test="updateUserId!=null">
		#{updateUserId,jdbcType=VARCHAR},
		</if>
        <if test="updateTime!=null">
		#{updateTime,jdbcType=TIMESTAMP},
		</if>
        <if test="remark!=null">
		#{remark,jdbcType=VARCHAR}
		</if>
		)
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.xqsight.system.model.SysLogin">
		update from sys_login set
		org_id = #{orgId,jdbcType=NUMERIC},
		login_id = #{loginId,jdbcType=VARCHAR},
		user_name = #{userName,jdbcType=VARCHAR},
		real_name = #{realName,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		login_type = #{loginType,jdbcType=NUMERIC},
		sex = #{sex,jdbcType=NUMERIC},
		user_born = #{userBorn,jdbcType=TIMESTAMP},
		age = #{age,jdbcType=NUMERIC},
		from_source = #{fromSource,jdbcType=VARCHAR},
		img_url = #{imgUrl,jdbcType=VARCHAR},
		salt = #{salt,jdbcType=VARCHAR},
		locked = #{locked,jdbcType=NUMERIC},
		active = #{active,jdbcType=NUMERIC},
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		remark = #{remark,jdbcType=VARCHAR}
        where  id = #{id,jdbcType=NUMERIC}  
    </update>

	<update id="updateByPrimaryKeySelective" parameterType="com.xqsight.system.model.SysLogin">
        update from sys_login set
        <if test="orgId!=null">
		org_id = #{orgId,jdbcType=NUMERIC},
		</if>
        <if test="loginId!=null">
		login_id = #{loginId,jdbcType=VARCHAR},
		</if>
        <if test="userName!=null">
		user_name = #{userName,jdbcType=VARCHAR},
		</if>
        <if test="realName!=null">
		real_name = #{realName,jdbcType=VARCHAR},
		</if>
        <if test="password!=null">
		password = #{password,jdbcType=VARCHAR},
		</if>
        <if test="loginType!=null">
		login_type = #{loginType,jdbcType=NUMERIC},
		</if>
        <if test="sex!=null">
		sex = #{sex,jdbcType=NUMERIC},
		</if>
        <if test="userBorn!=null">
		user_born = #{userBorn,jdbcType=TIMESTAMP},
		</if>
        <if test="age!=null">
		age = #{age,jdbcType=NUMERIC},
		</if>
        <if test="fromSource!=null">
		from_source = #{fromSource,jdbcType=VARCHAR},
		</if>
        <if test="imgUrl!=null">
		img_url = #{imgUrl,jdbcType=VARCHAR},
		</if>
        <if test="salt!=null">
		salt = #{salt,jdbcType=VARCHAR},
		</if>
        <if test="locked!=null">
		locked = #{locked,jdbcType=NUMERIC},
		</if>
        <if test="active!=null">
		active = #{active,jdbcType=NUMERIC},
		</if>
        <if test="updateUserId!=null">
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		</if>
        <if test="updateTime!=null">
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		</if>
        <if test="remark!=null">
		remark = #{remark,jdbcType=VARCHAR}
		</if>
        where  id = #{id,jdbcType=NUMERIC}  
	</update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from  sys_login
        where  id = #{id,jdbcType=NUMERIC}  
    </delete>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select <include refid="Base_Column_List"/> from sys_login
        where  id = #{id,jdbcType=NUMERIC}  
    </select>

    <select id="search" resultMap="BaseResultMap" parameterType="com.xqsight.common.orm.Criterion">
        select <include refid="Base_Column_List"/> from sys_role
		WHERE 1=1
		${whereSqlString}
        <if test="orderBy != null">
			${orderBySqlString}
        </if>
    </select>
</mapper>
