<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xqsight.system.mapper.SysOrgMapper">

    <resultMap id="BaseResultMap"  type="com.xqsight.system.model.SysOrg">
		<result column="org_id" property="orgId" jdbcType="NUMERIC"/>
		<result column="parent_id" property="parentId" jdbcType="NUMERIC"/>
		<result column="org_name" property="orgName" jdbcType="VARCHAR"/>
		<result column="org_type" property="orgType" jdbcType="VARCHAR"/>
		<result column="org_code" property="orgCode" jdbcType="VARCHAR"/>
		<result column="custom_code" property="customCode" jdbcType="VARCHAR"/>
		<result column="sort" property="sort" jdbcType="NUMERIC"/>
		<result column="icon" property="icon" jdbcType="VARCHAR"/>
		<result column="active" property="active" jdbcType="NUMERIC"/>
		<result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="update_user_id" property="updateUserId" jdbcType="VARCHAR"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
		 org_id,parent_id,org_name,org_type,org_code,custom_code,sort,icon,active,create_user_id,create_time,update_user_id,update_time,remark
    </sql>

    <insert id="insert" parameterType="com.xqsight.system.model.SysOrg"  useGeneratedKeys="true" keyProperty="orgId">
        insert into sys_org (
		parent_id,org_name,org_type,org_code,custom_code,sort,icon,active,create_user_id,create_time,update_user_id,update_time,remark
		) values (
		#{parentId,jdbcType=NUMERIC},
		#{orgName,jdbcType=VARCHAR},
		#{orgType,jdbcType=VARCHAR},
		#{orgCode,jdbcType=VARCHAR},
		#{customCode,jdbcType=VARCHAR},
		#{sort,jdbcType=NUMERIC},
		#{icon,jdbcType=VARCHAR},
		#{active,jdbcType=NUMERIC},
		#{createUserId,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{updateUserId,jdbcType=VARCHAR},
		#{updateTime,jdbcType=TIMESTAMP},
		#{remark,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.xqsight.system.model.SysOrg">
        insert into sys_org (
        <if test="parentId!=null">
		parent_id,
		</if>
        <if test="orgName!=null">
		org_name,
		</if>
        <if test="orgType!=null">
		org_type,
		</if>
        <if test="orgCode!=null">
		org_code,
		</if>
        <if test="customCode!=null">
		custom_code,
		</if>
        <if test="sort!=null">
		sort,
		</if>
        <if test="icon!=null">
		icon,
		</if>
        <if test="active!=null">
		active,
		</if>
        <if test="createUserId!=null">
		create_user_id,
		</if>
        <if test="createTime!=null">
		create_time,
		</if>
        <if test="updateUserId!=null">
		update_user_id,
		</if>
        <if test="updateTime!=null">
		update_time,
		</if>
        <if test="remark!=null">
		remark
		</if>
		)
		values (
        <if test="parentId!=null">
		#{parentId,jdbcType=NUMERIC},
		</if>
        <if test="orgName!=null">
		#{orgName,jdbcType=VARCHAR},
		</if>
        <if test="orgType!=null">
		#{orgType,jdbcType=VARCHAR},
		</if>
        <if test="orgCode!=null">
		#{orgCode,jdbcType=VARCHAR},
		</if>
        <if test="customCode!=null">
		#{customCode,jdbcType=VARCHAR},
		</if>
        <if test="sort!=null">
		#{sort,jdbcType=NUMERIC},
		</if>
        <if test="icon!=null">
		#{icon,jdbcType=VARCHAR},
		</if>
        <if test="active!=null">
		#{active,jdbcType=NUMERIC},
		</if>
        <if test="createUserId!=null">
		#{createUserId,jdbcType=VARCHAR},
		</if>
        <if test="createTime!=null">
		#{createTime,jdbcType=TIMESTAMP},
		</if>
        <if test="updateUserId!=null">
		#{updateUserId,jdbcType=VARCHAR},
		</if>
        <if test="updateTime!=null">
		#{updateTime,jdbcType=TIMESTAMP},
		</if>
        <if test="remark!=null">
		#{remark,jdbcType=VARCHAR}
		</if>
		)
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.xqsight.system.model.SysOrg">
		update from sys_org set
		parent_id = #{parentId,jdbcType=NUMERIC},
		org_name = #{orgName,jdbcType=VARCHAR},
		org_type = #{orgType,jdbcType=VARCHAR},
		org_code = #{orgCode,jdbcType=VARCHAR},
		custom_code = #{customCode,jdbcType=VARCHAR},
		sort = #{sort,jdbcType=NUMERIC},
		icon = #{icon,jdbcType=VARCHAR},
		active = #{active,jdbcType=NUMERIC},
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		remark = #{remark,jdbcType=VARCHAR}
        where  org_id = #{orgId,jdbcType=NUMERIC}  
    </update>

	<update id="updateByPrimaryKeySelective" parameterType="com.xqsight.system.model.SysOrg">
        update from sys_org set
        <if test="parentId!=null">
		parent_id = #{parentId,jdbcType=NUMERIC},
		</if>
        <if test="orgName!=null">
		org_name = #{orgName,jdbcType=VARCHAR},
		</if>
        <if test="orgType!=null">
		org_type = #{orgType,jdbcType=VARCHAR},
		</if>
        <if test="orgCode!=null">
		org_code = #{orgCode,jdbcType=VARCHAR},
		</if>
        <if test="customCode!=null">
		custom_code = #{customCode,jdbcType=VARCHAR},
		</if>
        <if test="sort!=null">
		sort = #{sort,jdbcType=NUMERIC},
		</if>
        <if test="icon!=null">
		icon = #{icon,jdbcType=VARCHAR},
		</if>
        <if test="active!=null">
		active = #{active,jdbcType=NUMERIC},
		</if>
        <if test="updateUserId!=null">
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		</if>
        <if test="updateTime!=null">
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		</if>
        <if test="remark!=null">
		remark = #{remark,jdbcType=VARCHAR}
		</if>
        where  org_id = #{orgId,jdbcType=NUMERIC}  
	</update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from  sys_org
        where  org_id = #{orgId,jdbcType=NUMERIC}  
    </delete>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select <include refid="Base_Column_List"/> from sys_org
        where  org_id = #{orgId,jdbcType=NUMERIC}  
    </select>

    <select id="search" resultMap="BaseResultMap" parameterType="com.xqsight.common.orm.Criterion">
        select <include refid="Base_Column_List"/> from sys_role
		WHERE 1=1
		${whereSqlString}
        <if test="orderBy != null">
			${orderBySqlString}
        </if>
    </select>
</mapper>
