<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xqsight.system.mapper.SysQuickKeyMapper">

    <resultMap id="BaseResultMap"  type="com.xqsight.system.model.SysQuickKey">
		<result column="fun_order" property="funOrder" jdbcType="NUMERIC"/>
		<result column="id" property="id" jdbcType="NUMERIC"/>
		<result column="key_icon" property="keyIcon" jdbcType="VARCHAR"/>
		<result column="key_title" property="keyTitle" jdbcType="VARCHAR"/>
		<result column="key_value" property="keyValue" jdbcType="VARCHAR"/>
		<result column="active" property="active" jdbcType="NUMERIC"/>
		<result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="update_user_id" property="updateUserId" jdbcType="VARCHAR"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
		 fun_order, id,key_icon,key_title,key_value,active,create_user_id,create_time,update_user_id,update_time,remark
    </sql>

    <insert id="insert" parameterType="com.xqsight.system.model.SysQuickKey"  useGeneratedKeys="true" keyProperty="funOrderid">
        insert into sys_quick_key (
		key_icon,key_title,key_value,active,create_user_id,create_time,update_user_id,update_time,remark
		) values (
		#{keyIcon,jdbcType=VARCHAR},
		#{keyTitle,jdbcType=VARCHAR},
		#{keyValue,jdbcType=VARCHAR},
		#{active,jdbcType=NUMERIC},
		#{createUserId,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{updateUserId,jdbcType=VARCHAR},
		#{updateTime,jdbcType=TIMESTAMP},
		#{remark,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.xqsight.system.model.SysQuickKey">
        insert into sys_quick_key (
        <if test="keyIcon!=null">
		key_icon,
		</if>
        <if test="keyTitle!=null">
		key_title,
		</if>
        <if test="keyValue!=null">
		key_value,
		</if>
        <if test="active!=null">
		active,
		</if>
        <if test="createUserId!=null">
		create_user_id,
		</if>
        <if test="createTime!=null">
		create_time,
		</if>
        <if test="updateUserId!=null">
		update_user_id,
		</if>
        <if test="updateTime!=null">
		update_time,
		</if>
        <if test="remark!=null">
		remark
		</if>
		)
		values (
        <if test="keyIcon!=null">
		#{keyIcon,jdbcType=VARCHAR},
		</if>
        <if test="keyTitle!=null">
		#{keyTitle,jdbcType=VARCHAR},
		</if>
        <if test="keyValue!=null">
		#{keyValue,jdbcType=VARCHAR},
		</if>
        <if test="active!=null">
		#{active,jdbcType=NUMERIC},
		</if>
        <if test="createUserId!=null">
		#{createUserId,jdbcType=VARCHAR},
		</if>
        <if test="createTime!=null">
		#{createTime,jdbcType=TIMESTAMP},
		</if>
        <if test="updateUserId!=null">
		#{updateUserId,jdbcType=VARCHAR},
		</if>
        <if test="updateTime!=null">
		#{updateTime,jdbcType=TIMESTAMP},
		</if>
        <if test="remark!=null">
		#{remark,jdbcType=VARCHAR}
		</if>
		)
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.xqsight.system.model.SysQuickKey">
		update from sys_quick_key set
		key_icon = #{keyIcon,jdbcType=VARCHAR},
		key_title = #{keyTitle,jdbcType=VARCHAR},
		key_value = #{keyValue,jdbcType=VARCHAR},
		active = #{active,jdbcType=NUMERIC},
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		remark = #{remark,jdbcType=VARCHAR}
        where  fun_order = #{funOrder,jdbcType=NUMERIC} and  id = #{id,jdbcType=NUMERIC}  
    </update>

	<update id="updateByPrimaryKeySelective" parameterType="com.xqsight.system.model.SysQuickKey">
        update from sys_quick_key set
        <if test="keyIcon!=null">
		key_icon = #{keyIcon,jdbcType=VARCHAR},
		</if>
        <if test="keyTitle!=null">
		key_title = #{keyTitle,jdbcType=VARCHAR},
		</if>
        <if test="keyValue!=null">
		key_value = #{keyValue,jdbcType=VARCHAR},
		</if>
        <if test="active!=null">
		active = #{active,jdbcType=NUMERIC},
		</if>
        <if test="updateUserId!=null">
		update_user_id = #{updateUserId,jdbcType=VARCHAR},
		</if>
        <if test="updateTime!=null">
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		</if>
        <if test="remark!=null">
		remark = #{remark,jdbcType=VARCHAR}
		</if>
        where  fun_order = #{funOrder,jdbcType=NUMERIC} and  id = #{id,jdbcType=NUMERIC}
	</update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from  sys_quick_key
        where  id = #{id,jdbcType=NUMERIC}
    </delete>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select <include refid="Base_Column_List"/> from sys_quick_key
        where  id = #{id,jdbcType=NUMERIC}
    </select>

    <select id="search" resultMap="BaseResultMap" parameterType="com.xqsight.common.orm.Criterion">
        select <include refid="Base_Column_List"/> from sys_role
		WHERE 1=1
		${whereSqlString}
        <if test="orderBy != null">
			${orderBySqlString}
        </if>
    </select>
</mapper>
